---
const coins = ["BTC", "ETH", "SOL"];

async function getPrice(coin) {
	const res = await fetch(`https://api.coinbase.com/v2/prices/${coin}-USD/spot`);
	const json = await res.json();
	return json.data.amount;
}

const prices = {};
for (const c of coins) {
  prices[c] = await getPrice(c);
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>API</title>
	</head>
	<body>
		<h1>Crypto Prices</h1>
		<ul>
		{coins.map((c) => (
			<li><strong>{c}:</strong> ${prices[c]}</li>
		))}
		</ul>
	</body>
</html>
